* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image:https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7NzDUzcaD3mlKcYuXfvgrSMnwxbVOF7ZCLRuZS-YPUw&s ;
}

.umar-xalk{
  color: brown;
  background-color: aqua;
  padding-left: 750px;
}